@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
html, body {
  height: 100%;
  width: 100%;
}
.button{
  padding:20px;
  width:66px;
  margin:0 3px;
  border:2px solid black;
  border-radius:9px;
}
.row{
  margin:8px 0;
}
.row input{
  font-size:18px;
  padding:18px 34px;
  border:2px solid black;
  border-radius:6px;
}